html {
    background-color: #bbbb;
    font-family: 'Didact Gothic';
}

/*------------------------   standard elements  ----------------------------- */
h1 {
    text-align: center;
}


/*------------------------   by class  ----------------------------- */
.LogIn {
    width: 20%;
    margin: 5% auto 10% auto;
    text-align: center;
}

.LogIn * {
    margin: 10px;
}

.LogIn .button {
    width: 60%;
    font-size: 20px;
}

.Profile {
    border: solid;
    width: 50%;
    margin: 5% auto 10% auto;
    background-color: white;
}

.Profile h2 {
    margin: 5% 10% 2% 10%;
}

.Profile h3 {
    margin: 5% 10% 2% 10%;
}

.Profile h4 {
    display: inline-block;
    margin: 1% 0% 1% 10%;
}

.Profile ul {
    margin: 2% 10%;
}

.Profile p {
    display: inline-block;
    margin: 1% 2%
}

.ProfileForm {
    width: 50%;
    margin: 2% auto;
}

.ProfileForm h2 {
    width: 56%;
    margin: auto;
}

.ProfileForm fieldset {
    border: none;
    margin-left: 30px;
    margin-right: 30px;
}

.ProfileFormRadioButtonWithLabel {
    padding: 5px;
}

.ProfileFormMarginLeft {
    margin-left: 35px;
    display: block;
}

.ProfileFormHobbies {
    display: block;
    margin-left: 23px !important;
}

.mistake {
    border-color: red;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.header{
    text-align: center;
}
.instructions{
    text-align: center;
}
.instructions ul{
    list-style-type: none;
}

.buttonsForm {
    text-align: center;
}

.admin-table table{
    border-collapse:collapse;
}
.admin-table td{
    border-collapse:collapse;
    padding:15px;
}
.admin-table th{
    text-align:left;
    padding:15px;
}

.admin-table tr:nth-child(even){
    background-color:#f2f2f2;
}
.admin-table a:visited{
    color:blue;
}
/*------------------------   by ID  ----------------------------- */
#profileBio {
    margin: 1% 10% 5% 10%;
}

#editProfile {
    margin: 5% 5% 2% 10%;
    float: right;
    height: 28px;
    padding: 10px 10px 0px 10px;
}

#editProfileImage {
    float:right;
    padding-left: 6px;
}

#ProfileFormHeader {
    width: 48%;
    margin: auto;
}

#ProfileFormFieldset {
    border: solid;
}

#frmProfile {
    border: solid;
    background-color: white;
}

#ProfileFormPadTop {
    padding-top: 30px;
}

#ProfileFormGender {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#ProfileFormBio {
    width: 100%;
    font-size: 14px;
}

#btnSubmit {
    -webkit-appearance: none;
    float: right;
    margin-bottom: 10px; 
    height: 30px;
    width: 70px;
    border-radius: 6px;
}

#ProfileToSelectionButton {
    -webkit-appearance: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 120px;
    border-radius: 6px;
}

#SelectionToProfileButton {
    -webkit-appearance: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 6px;
}

#LogOutButton {
    -webkit-appearance: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 6px;
}

#AdminTables {
    -webkit-appearance: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 6px;
}
#AdminTablesEdit{
    -webkit-appearance: none;
    display: inline-block;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    margin: 0% 6%;
}

#btnYes {
    -webkit-appearance: none;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    background-color: lightgreen;
}

#btnNo {
    -webkit-appearance: none;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    background-color: #FFCCCB;
}

#SelectionButtonsForm {
    text-align: right;
    margin: 10px;
}

#editProfileButton {
    -webkit-appearance: none;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    margin: 10px;
    float: right;
}

#logo {
    width: 25%;
    height: 25%;
    
}

#adminTablesArticle h2{
    margin: 1% 6%;
}

#adminTablesArticle table {
    margin: 0% 6%;
    border: solid;
}

#adminTablesArticle table tr:first-child {
    font-style: italic;
}

#errors {
    color: red;
}

#errors ul {
    width: 70%;
    margin: auto;
}